.admincard{
    height : 350px;
    width : 300px;
    background-color : #2bf4dd   ;
    margin : 30px;
    border-radius : 10%;
   

}

.admincard:hover{
    transform: scale(1.05);
} 

h1{
    text-align :center;
    margin: top 500px;
    padding : 50px;
}

.container{
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr ;
   


} 