.homepage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 160px;
}

.homeimg img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-bottom: 20px;

}


