.addform{
    text-align:center;
    margin:20px;
    padding:20px;
    border : 2px solid black;

}

.addform label{
    margin:20px;
    font-size:x-large;
    font-family: "Inter", "Segoe UI", sans-serif;

    
}


.addform input{
    margin:20px;
    font-size:x-large;
    font-family: "Inter", "Segoe UI", sans-serif;
    

}


#btn{
    padding:10px;
    border-radius:15%;
    font-size:large;
    font-family: "Inter", "Segoe UI", sans-serif;

}

#btn:hover{
    background-color: black;
    color:white;
    cursor:pointer;
}



.opt {
    font-size: large;
    padding: 10px;
    border-radius:5%;
    margin:20px;
}